---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Namespace }}:{{ .Release.Name }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions/status
  verbs:
  - patch
  - update
- apiGroups:
  - migration.lambda.coffee
  resources:
  - news
  - olds
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - migration.lambda.coffee
  resources:
  - news/finalizers
  - olds/finalizers
  verbs:
  - update
- apiGroups:
  - migration.lambda.coffee
  resources:
  - news/status
  - olds/status
  verbs:
  - patch
  - update
